/* DarkMode */

body {
    transition: .5s ease-in-out;
}

.checkbox {
    display: none;
}

.label {
    height: 1.7rem;
    width: 50px;
    background: var(--light);
    border-radius: 50px;
    padding: 5px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scale(1.2);
    box-shadow: 2px 1px 1px var(--dark);
}

.label .ball {
    background: var(--color-2);
    border-radius: 50%;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(0px);
    transition: transform .4s cubic-bezier(.45, -1.12, .35, 1.78);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkbox:checked+.label .ball {
    transform: translateX(25px);
}

.fa-moon {
    color: var(--dark);
}

.theme-switcher {
    width: 50px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

.background {
    width: 50px;
    height: 20px;
    background-color: var(--input-back);
    border-radius: 30px;
}

.switch {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    height: 30px;
    width: 30px;
    background-color: var(--input-color);
    position: absolute;
    top: -5px;
    left: 0px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun {
    opacity: 1;
}

.moon {
    opacity: 0;
}

/* input {
    display: none;
} */


input:checked+.switch {
    left: 20px;
}

input:checked+.switch .sun {
    opacity: 0;
}

input:checked+.switch .moon {
    opacity: 1;
}


/* style de la page dark */

.dark .title {
    color: var(--color-white);
}

.dark {
    background: var(--dark);
}

.dark main {
    background: var(--dark);
}

.dark .label {
    box-shadow: 2px 1px 1px var(--dark);
    background: #888;
}

.dark .ball {
    background: var(--dark);
}

.dark section h3 {
    color: var(--color-white);
}

.dark .card {
    color: var(--color-white);
}

/* style de la page dark contact form */
.dark form{
    box-shadow: 0 3px 3px var(--color-3);
}

.dark label {
    color: var(--color-white);
}

.dark input,
.dark textarea {
    color: var(--color-white);
    background: var(--dark);

    border-radius: 15px 0 15px 0;
    transition: border-radius .3s ease-in;
}

.dark form button {
    border-radius: 15px 0 15px 0;
    transition: border-radius .3s ease-in;

    background: var(--color-1-clr);
}

.dark form button:hover {
    border: 1px solid var(--color-white);
    background: var(--color-1);
    transition: var(--duration1) ease-in-out;
}

/* DarkMode */